.weather {
  color: white;
  margin-bottom: 0;
}

.weatherIcon {
  display: flex;
  max-width: 100px;
  margin-top: 0;
  ;
}

.weatherHeader {
  margin-bottom: 0;
  padding-bottom: 0;
  ;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: right;
  align-items: flex-end;
}

.cityContainer {
  background-color: transparent;
  text-align: center;
  color: black;
}

.cityTitle{
  font-size: 15pt;
  margin-top: .5rem;
}