 .box {
   width: 100%;
   min-height: 100vh;
   background-image: url('https://momentum.photos/img/c8c70e92-d705-4279-932b-2c30ed62da2c.jpg?momo_cache_bg_uuid=417561a5-f0a3-4655-99a1-42f5c8e297c8 ');
   justify-content: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover
 }

 /* https://momentum.photos/img/c8c70e92-d705-4279-932b-2c30ed62da2c.jpg?momo_cache_bg_uuid=417561a5-f0a3-4655-99a1-42f5c8e297c8 */

 /* https: //momentum.photos/img/f2ff7f1d-163c-40c5-9ede-25a6bcef2aa4.jpg?momo_cache_bg_uuid=4cabf163-1df6-49bd-bc68-f0fe604caa6b */

 .top-row {
   width: 100%;
   min-height: 10vh;
 }

 .top-center {
   width: 100%;
   min-height: 20vh;
   justify-content: center;
 }

 .center {
   width: 100%;
   min-height: 40vh;
   justify-content: center;
   align-content: center;
 }

 .bottom-center {
   width: 100%;
   min-height: 20vh;
   justify-content: center;
   padding: 2rem;
   margin-bottom: 1rem;
   
 }

 .bottom-row {
   width: 100%;
   min-height: 10vh;
   justify-content: center;
   
 }